---
layout: default
title: Home
published: true
---

<h3 class="list-title">PRESSに関する使い方・Q&amp;A</h3>
<p class="list-desc">PRESSはインスタグラムと連携したNo1ブログサービスです。誰でもかんたんにインスタグラムの写真を使ってブログを投稿する事が出来ます。使い方、よくある質問は下記をご参照下さい。<p>

<h4><a href="/guide">使い方</a></h4>
<div class="list">
<ul>
  {% for guide in site.categories.guide %}
  <li>
    <a href="{{ guide.url }}">
      {{ guide.title }}
    </a>
  </li>
  {% endfor %}
</ul>
</div>

<h4><a href="/faq">よくある質問</a></h4>
<div class="list">
<ul>
  {% for faq in site.categories.faq %}
  <li>
    <a href="{{ faq.url }}">
      {{ faq.title }}
    </a>
  </li>
  {% endfor %}
</ul>
</div>
