<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <label class="sidebar-nav-item" for="sidebar-nav-item01">Guide</label>
    <input type="checkbox" id="sidebar-nav-item01" class="accordion-input" />
    <ul class="accordion-list">
    {% for guide in site.categories.guide %}
      <li><a class="sidebar-nav-item{% if page.url == guide.url %} active{% endif %}" href="{{ guide.url }}">{{ guide.title }}</a></li>
    {% endfor %}
    </ul>
  </nav>
<style>
.sidebar-nav {
  border: none;
  margin-bottom: 30px;
}
label.sidebar-nav-item {
    display: block;
    margin: 0 0 2px 0;
    padding :12px;
    line-height: 1;
    color :#fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor :pointer;
}

input.accordion-input {
    display: none;
}
ul.accordion-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display:none;
    transition: 0.2s;
}

.accordion-input:checked+ul.accordion-list {
    max-height: 46px;
    opacity: 1;
    display: block;
}
</style>

  <div class="sidebar-item">
    <p>
      &copy;  DESSART &amp; Co.
    </p>
  </div>
</div>
